#root {
  height: 100%;
  background-color: beige;
}

.tick {
  position: relative;
}

.tick .label {
  position: absolute;
  top: -1em;
  background: beige;
  padding: 0.25em 0.5em;
}

.tick::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  border-bottom: 1px dashed black;
}

.tick.major::before {
  border-bottom: 2px solid black;
}

/* .tick:first-of-type::before {
  border-bottom: none;
} */

.size {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: darkgreen;
  padding: 0.25em 0.5em;
  color: white;
}
